body {
  background-color: #90EE90;
}
.main {
    display: flex;
    justify-content: center;
}
.main_1 {
    display: flex;
    justify-content: center;
}
.main_2 {
    display: flex;
    justify-content: center;
}
.main_3 {
    display: flex;
    justify-content: center;
}
th {
    border-bottom: 2px solid black;
}
